<%- include('./partials/head.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="page-dark">
  <div class="wrapper">
    <div class="contacts-conteiner" width="100%">
      <h3 class="contacts-title">Наше местоположение</h3>
      <p class="contacts-description">Мы находимся по адресу г. Минск, ул. Платонова, 38</p>
      <h3 class="contacts-title">Телефоны на горячей линии</h3>
      <p class="contacts-description">Номер Консультанта на горячей линии: +375291874444</p>
      <p class="contacts-description">Номер Менеджера на горячей линии: +375291875454</p>
      <p class="contacts-description">Номер Администратора на горячей линии: +375291876464</p>
      <h3 class="contacts-title">Наши соцсети</h3>
      <ul class="footer-list">
        <li class="footer-list-item"><img src="/resource/icon-vk.png" alt="vk" class="footer-list-item-icon"><a href="" class="footer-list-link">VK</a></li>
        <li class="footer-list-item"><img src="/resource/icon-instagram.png" alt="instagram" class="footer-list-item-icon"><a href="" class="footer-list-link">Instagram</a></li>
        <li class="footer-list-item"><img src="/resource/icon-telegram.png" alt="telegram" class="footer-list-item-icon"><a href="" class="footer-list-link">Telegram</a></li>
        <li class="footer-list-item"><img src="/resource/icon-tik-tok.png" alt="" class="footer-list-item-icon"><a href="" class="footer-list-link">Tik-tok</a></li>
        <li class="footer-list-item"><img src="/resource/icon-twitter.png" alt="" class="footer-list-item-icon"><a href="" class="footer-list-link">Twitter</a></li>
        <li class="footer-list-item"><a href="" class="footer-list-link">kolyanlapitskiy007@gmail.com</a></li>
    </ul>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>