.filter{
    &-wrapper{
        display: flex;
        flex-direction: column;
        width: 400px;
        max-height: 100%;
        border: 1px solid $dark-gray;
        border-bottom-right-radius: 25px;
    }
    &-box{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        border-bottom: 1px solid $gray;
        padding: 15px 0 15px 0;
    }
    &-title{
        display: block;
        width: 100%;
        padding-left: 35px;
    }
    &-checkbox-btn{
        display: block;
	    margin: 10px 0 10px 15px;
	    user-select: none;
	    position: relative;
    }
    &-checkbox-btn input[type=checkbox] {
        z-index: -1;
	    opacity: 0;
	    display: block;
	    width: 0;
	    height: 0;
    }
    &-checkbox-btn span {
        display: inline-block;
        text-align: center;
        min-width: 120px;
        max-width: 350px;
        cursor: pointer;
        padding: 0px 10px;
        line-height: 25px;
        border: 1px solid $dark-gray;
        border-radius: 8px;
        transition: background 0.2s ease;
    }

    &-checkbox-btn input[type=checkbox] + span:hover {
        background: $light;
    }
     
    /* Checked */
    &-checkbox-btn input[type=checkbox]:checked + span {
        background: $light;
        border: 2px solid $trueGreen;
    }
     
    /* Focus */
    .focused span {
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
     
    /* Hover */
    &-checkbox-btn:hover {
        color: $dark;
    }
    &-checkbox-btn span:hover{
        background-color: $light;
    }
     
    /* Active */
    &-checkbox-btn input[type=checkbox]:active:not(:disabled) + span {
        background: $light;
        color: $dark-gray;
        border: 2px solid $trueGreen;
    }
     
    /* Disabled */
    &-checkbox-btn input[type=checkbox]:disabled + span {
        background: $light-gray;
        color: $dark-gray;
        cursor: default;
    }
    &-checkbox-btn input[type=checkbox]:checked:disabled + span {
        background: $light-gray;
        border: 2px solid $trueGreen;
    }
    &-price{
        width: 130px;
        height: 30px;
        margin-left: 15px;
        border-radius: 5px;
        outline: none;
        border: 1px solid $dark-gray;
        background: $light-gray;
        color: $dark;
    }
    &-btn{
        width: 130px;
        height: 30px;
        margin-left: 15px;
        border-radius: 15px;
        outline: none;
        border: 1px solid $dark-gray;
        background: $light-gray;
        color: $dark;
    }
}
#filter-btns{
    border-bottom: none;
}

.sorting{
    &-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        border: 1px solid $dark-gray;
        border-left: none;
        border-right: none;
    }
    &-item{
        display: block;
        margin-left: 20px;
    }
    &-radio-btn{
        display: block;
	    margin: 10px 0 10px 10px;
	    user-select: none;
	    position: relative;
    }
    &-radio-btn input[type=radio] {
        z-index: -1;
	    opacity: 0;
	    display: block;
	    width: 0;
	    height: 0;
    }
    &-radio-btn span {
        display: inline-block;
        cursor: pointer;
        padding: 0px 10px;
        line-height: 30px;
        border: 1px solid $dark-gray;
        border-radius: 4px;
        transition: background 0.2s ease;
    }
    &-radio-btn span:hover{
        background-color: $light;
    }
     
    /* Focus */
    .focused span {
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
     
    /* Hover */
    &-radio-btn:hover {
        color: $dark;
    }
     
    /* Active */
    &-radio-btn input[type=radio]:active:not(:disabled) + span {
        background: $light;
        color: $dark-gray;
        border: 2px solid $trueGreen;
    }
}